

.left {
    float: left;
    color: white;
    align-items: flex-end;
}
.right {
    float: right;
}


.jumbotron {
    height:700px;
    width: 100%;
    margin-top: -20px;
    background-image: url(white-outline.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about-me {
    background-image: url(abt.png);
    background-image: cover;
}
.text {
    color: white;
}