
.lead {
    color: white;
}

.jumbotron {
    height:700px;
    width: 100%;
    margin-top: -20px;
    background-image: url(white-outline.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text {
    color: white;
}
.title {
    text-align: center;
    color: grey;
}

.abt {
    color: grey;
    background-color: black;
    padding: 15%;
}
.div {
    padding: 15%;
    background-color: rgb(210,180,140);
}